<!DOCTYPE HTML>
<html lang="pt-br">
	<head>
		<meta charset="UTF-8">

		<title>Instagram Clone - WEB</title>
		
		<!-- JQuery -->
		<script src="http://code.jquery.com/jquery-3.1.1.min.js"></script>

		<!-- bootstrap - link cdn -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	
		<!-- incluindo css -->
		<link href="css/style.css" rel="stylesheet">

		<script>
			$(document).ready(function(){

				function carregarPostagens(){
					var xhr = new XMLHttpRequest();
					xhr.open('GET', 'http://localhost:8080/api');
					
					xhr.onload = function(){
						if(xhr.status === 200){
							const data = $.parseJSON(xhr.responseText);
	
							for(let i = 0; i < data.length; i++){
								$('#container_timeline').append(
									'<div class="publicacao">' +
										'<span class="titulo">' +
											data[i].titulo +
										'</span>' +
										'<img src="http://localhost:8080/api/imagens/' + data[i].url_image + '"/>'+
										'<div class="comentarios" id="comentarios_' + data[i]._id + '"></div>' +
										'<div class="comentar" id="' + data[i]._id + '" >' +
											'<input type="text" class="form-control input_comentario" placeholder="Adicione um comentário..."/>' +
											'<button class="btn btn-default btn_postagem" type="button">Comentar</button>' +
										'</div>'
								);
								
								if(data[i].comentario != undefined){
									const comentarios = data[i].comentario;

									comentarios.forEach(comentario => {
										$('#comentarios_' + data[i]._id).append(
											'<div class="txt_comentario">' +
												'<button type="button" value="' + comentario.comentario_id + '" class="btn btn-default btn_remover_postagem">X</button>'+
												comentario.comentario_texto +
											'</div>'
										);
									});
								}
							}

							$('.btn_remover_postagem').click(function(){
								const commentId = this.value;
								const xhr = new XMLHttpRequest();
								xhr.open('DELETE', 'http://localhost:8080/api/' + commentId);
								xhr.onload = function(){
									if(xhr.status === 200){
										alert(xhr.responseText);
									}
									else{
										alert("Something went wrong, dude");
									}
								}
								xhr.send();
							});

							$('.btn_postagem').click(function(){
								const commentId = $(this).parent('.comentar').attr('id');
								const commentText = $(this).prev('.input_comentario').val();
								
								const xhr = new XMLHttpRequest();
								xhr.open('PUT', 'http://localhost:8080/api/' + commentId);
								xhr.setRequestHeader('Content-Type', 'application/json');
								xhr.onload = function(){
									if(xhr.status === 200){
										alert(xhr.responseText);
									}
									else{
										alert("Something went wrong, dude");
									}
								}
								xhr.send(JSON.stringify({comment: commentText}));
							});
						}
					}

					xhr.send();
				}

				carregarPostagens();

				$('#btn_incluir').click(function(){
					$('#container_timeline').hide();
					$('#container_form').show();
				});

				$('#btn-cancelar-publicacao').click(function(){
					$('#container_timeline').show();
					$('#container_form').hide();
					return false;
				});

				$('#btn-publicar').click(function(){
					var formData = new FormData();
					
					var arquivo = document.getElementById('arquivo').files[0];
					var titulo = document.getElementById('titulo').value;

					formData.append('arquivo', arquivo);
					formData.append('titulo', titulo);

					var xhr = new XMLHttpRequest();
					xhr.onreadystatechange = function(){
						if (xhr.readyState == 4){
							var resposta = xhr.responseText;
							document.getElementById('mensagem').innerHTML = resposta
						}
					}

					xhr.open('POST', 'http://localhost:8080/api');
					xhr.send(formData);
				});
			});
		</script>

	</head>

	<body>

		<nav class="navbar navbar-default">
			<div class="container">
				<div class="col-md-12">
					<div class="container-fluid">
						<img alt="Instagram Clone - Versão WEB" src="images/logo2.jpg" class="logo2">
						<img alt="Incluir" src="images/incluir.jpg" class="pull-right btn-incluir" id="btn_incluir">						
					</div>
				</div>
			</div>
		</nav>

		<div class="container">
			<div class="col-md-2"></div>
			<div class="col-md-8" id="container_timeline"></div>
			
		</div>


		<div class="container" style="display:none" id="container_form">
			<div class="panel panel-default">

			<div class="panel-heading"><h4>Publicar uma foto</h4></div>
			
			<div class="panel-body">
				<div class="form-group">
					<input type="file" name="arquivo" id="arquivo" class="form-control">
				</div>

				<div class="form-group">
					<input type="text" name="titulo" id="titulo" class="form-control" placeholder="Titulo" autocomplete="off">
				</div>

				<div class="form-group">
					<button class="btn btn-success" id="btn-publicar">Publicar</button>
					<button class="btn btn-danger" id="btn-cancelar-publicacao">Cancelar</button>
				</div>
				<div id="mensagem"></div>
			</div>
		</div>
	</body>
</html>