<div id="pergaminhos">					
	<h3>Pergaminhos</h3>
	
	<ul>
		<% for(let i = 0; i < acoes.length; i++) { %>
			<%
				const date = new Date();
				const currentTime = date.getTime();
				const timeLeft = parseInt((acoes[i].acao_termina_em - currentTime)/1000);
				
				var tipoAcao = '';
				switch(parseInt(acoes[i].acao)){
					case 1: tipoAcao = 'aldeão(ões) coletando recursos'; break;
					case 2: tipoAcao = 'enforcamento(s) programado'; break;
					case 3: tipoAcao = 'aldeão(ões) em treinamento de história'; break;
					case 4: tipoAcao = 'aldeão(ões) em treinamento de magia'; break;
				}
			%>
			<li>
				<%= acoes[i].quantidade %> <%= tipoAcao %>
				- <small> restam <span class="tempoRestante"><%= timeLeft %></span> segundos - <a href="/revogar_ordem?id_ordem=<%=acoes[i]._id%>">revogar ordem</a></small>
			</li>
		<% } %>
	</ul>
</div>